@font-face {
	font-family: CaviarDreams;
	src: url(fonts/Caviar-Dreams/CaviarDreams.ttf);
}

@font-face {
	font-family: CaviarDreamsBold;
	src: url(fonts/Caviar-Dreams/CaviarDreams_BoldItalic.ttf);
}

body {
    margin: 10px;
    padding: 0;
	border-style: ridge;
    border-width: 1px;
	box-shadow: 1px 1.5px 2.5px 1.5px;
}

p {
	font-family: CaviarDreams;
}

h1 {
	font-family: CaviarDreams;
	text-align: center;
	white-space: normal;
	margin: 10px;
}

h2 {
	font-family: CaviarDreams;
	text-align: center;
	white-space: nowrap;
}

h3 {
	font-family: CaviarDreams;
	text-align: center;
	overflow: auto;
	margin-left: 5px;
	margin-right: 5px;
	color: #931f1f;
}

h4 {
	font-family: CaviarDreams;
	text-align: center;
}

audio {
	color: #931f1f;
}

.nowrap {
	overflow: auto;
	white-space: nowrap;
}

img {
	max-width:100%;
	float: left;
}

img:hover {
	transform: scale(1.05);
	transition: 1s;
}

.noHover:hover{
	
	transform: none;
}


.hoverMe:hover {
	transform: scale(0.99);
	transition: 0.5s;
	transform-style: initial;
}

.hoverMeHard:hover {
	transform: scale(1.1);
	transition: 0.1s;
}

.size_letter {
	max-width:100%;
}

a {
	text-decoration:none;
	color: #280000;	
	height: 50px;
}

a:active {
	color: #290000;	
}

a:hover {
	color: #931f1f;
}

.item1 { 
	grid-area: sizes; }
.item2 { 
	grid-area: header; }
.item3 { 
	grid-area: main; }
.item4 { 
	grid-area: menu; }
.item5 { 
	grid-area: footer; }

.grid-container {
	display: grid;
	grid-template-areas:
	'sizes sizes'
    'header header'
	'menu main'
    'footer footer';
	grid-template-columns: 1fr 10fr;
}


.flex-container {
	display: flex;
	align-items: stretch;
	margin: 10px;
	padding: 10px;
	column-gap: 20px;
	border-radius: 2px;
	box-shadow: 1px 1.5px 2.5px 1.5px;
}


.flex-container > div {
	margin: 5px;
	padding: 5px;
}

.item11 { grid-area: photo; }
.item12 { grid-area: title; }
.item13 { grid-area: artist; }
.item14 { grid-area: year; }
.item15 { grid-area: play; }


.grid-cont {
	display: grid;
	grid-template-areas:
	'photo title'
    'photo artist'
	'photo year'
	'photo play';
	column-gap: 0px;
	grid-template-columns: 1fr 2fr;
}

.grid-cont > div {
	text-align: center;
}


.item21 { grid-area: photo1; }
.item22 { grid-area: photo2; }
.item23 { grid-area: photo3; }
.item24 { grid-area: photo4; }


.img-container {
	max-width: 70%;
	height: auto;
	position: relative;
	margin: auto;
	overflow: hidden;
}


.mySlides {
	display: none;
}
  
.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
}
  
.next {
	right: 0;
	font-size: 40px;
	margin-right: 5px;
	font-family: CaviarDreams;
	border-radius: 3px 0 0 3px;
}
  
.prev {
	left: 0;
	margin-left: 5px;
	font-size: 40px;
	font-family: CaviarDreams;
	border-radius: 3px 0 0 3px;
}
  

.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	margin-top: 10px;
	display: inline-block;
	transition: background-color 0.6s ease;
}
  

.active {
	background-color: #931f1f;
}

.dot:hover {
	background-color: #717171;
}
  
 
.middle {
	flex: 1;
}

.center {
	padding: 15px 0;
	text-align: center;
}

.p_menu {
	font-family: CaviarDreamsBold;
	white-space: nowrap;
	text-decoration: none;
	text-align: center;
	padding:5px;

}

.p_menu:hover {
	background: linear-gradient(to right, #931f1f 1%, white 0%);
	transform: scale(0.90);
	transition: 0.3s;
}


.responsive {
	max-width: 50%;
	height:auto;
}

.MAX_responsive {
	max-width: 100%;
	height:auto;
}


@media only screen and (max-width: 768px) {
	/* For mobile phones: */
	.grid-container {
		display: grid;
		grid-template-areas:
		'sizes'
		'header'
		'menu'
		'main'
		'footer';
		grid-gap: 2px;
		grid-template-columns: minmax(0, 1fr);
	}

	.flex-container {
		display: flex;
		flex-direction: column;
		margin: 10px;
		padding: 10px;
		box-shadow: 1px 1.5px 2.5px 1.5px;
	}

	.grid-cont {
		display: grid;
		grid-template-areas:
		'photo'
		'title'
		'artist'  
		'year'
		'play';
		grid-template-columns: minmax(0, 1fr);
	}
	
	#clock {
		text-align: center;
		margin-right: 0px;
		margin-top: 0px;
	}

	.MAX_responsive {
		float: none;
	}

	audio {
		max-width: 100%;
	}

	.img-container {
		max-width: 100%;
	}
}

@media only screen and (max-width: 1025px) {
	/* For tablets: */
	.grid-container {
		display: grid;
		grid-template-areas:
		'sizes'
		'header'
		'menu'
		'main'
		'footer';
		grid-gap: 20px;
		grid-template-columns: minmax(0, 1fr);
	}

}

@media only screen and (max-width: 1200px) {
	/* For smaller PC screens: */

	.grid-cont {
		display: grid;
		grid-template-areas:
		'photo'
		'title'
		'artist'  
		'year'
		'play';
		grid-template-columns: minmax(0, 1fr);
	}	

	.MAX_responsive {
		max-width: 50%;
		float: none;
	}

	audio {
		max-width: 100%;
	}

	.p_menu:hover {
		background: white 0%;
	}

	.img-container {
		max-width: 100%;
	}
}