@font-face {
	font-family: istosFontOpenSans;
	src: url(fonts/open_sans/open-sans-v17-cyrillic_cyrillic-ext_latin-ext_greek_latin_greek-ext_vietnamese-regular.woff);
}

@font-face {
	font-family: istosFontSansastionLight;
	src: url(fonts/SansationLight/SansationLight.woff);
}

body {
    font-family: arial, serif, calibri;
    background-color: WhiteSmoke;
    margin: 20px;
    padding: 0;
	border-style: ridge;
    border-width: 1px;
	border-color: #280000;
	box-shadow: 2px 2.5px 5px 2.5px;
}

p {
	font-family: istosFontOpenSans;
}

h1, h2 {
	font-family: istosFontOpenSans;
	text-align: center;
}

img {
	float: left;
	margin-right: 20px;
	margin-bottom: 10px;
}

a {
	color: #280000;
}

a:hover {
	color: #780000;
}

.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: footer; }
.item5 { grid-area: writers; }

.grid-container {
	display: grid;
	grid-template-areas:
    'header header header header header header'
    'menu main main main main main'
	'writers writers writers writers writers writers'
    'footer footer footer footer footer footer';
	grid-gap: 20px;
}

.grid-container > div {
	text-align: left;
	padding: 1px 0;
	font-size: 16px;
}

.flex-container {
	display: flex;
	margin: 15px;
	padding: 15px;
	border-color: #280000;
	box-shadow: 2px 2.5px 5px 2.5px;
}

.flex-container > div {
	background-color: WhiteSmoke;
	margin: 5px;
	padding: 16px;
	font-size: 20px;
}

.middle {
	flex: 1;
}

.p_menu {
	font-family: istosFontSansastionLight;
}

.no_border_flex-container {
	display: flex;
	margin: 10px;
	background-color: WhiteSmoke;
	border-color: #280000;
	box-shadow: 2px 2.5px 5px 2.5px;
}

.no_border_flex-container > div {
	background-color: WhiteSmoke;
	margin: 5px;
	padding: 16px;
	font-size: 15px;
}

#p_center {
	text-align: center;
}